<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <div
    style="max-width: 600px; background-color: #F3F3F3; font-family: 'Roboto', sans-serif; color: #242424d8; padding: 50px 20px;">
    <img
      src="https://trello-attachments.s3.amazonaws.com/5e80d4d7a2185410e16cfbe6/5e85462984425d4913a7a64a/2d3a95d27e3561fbb0890868898f2a7f/Ampara-Logo.png"
      alt="logo" style="margin: 0 auto; max-width: 200px; display: flex;"><br />
    {{{ body }}}
  </div>

</body>

</html>
