<h2 style="text-align: center;">Olá!</h2><br>
<p style="text-align: center;">A consulta agendada para a data {{date}}, foi cancelada. Por favor, acesse o aplicativo para efetuar um novo agendamento.</p>