<h2 style="text-align: center;">Olá! A consulta foi agendada com sucesso, conforme os dados abaixo.</h2><br>
<p><b>Data/hora: </b>{{date}}</p>
<p><b>Emails</b></p>
<ul>
  <li>{{email_volunteer}}</li>
  <li>{{email_health}}</li>
</ul>
<br>
<p>Paciente, consulte o perfil do seu psicólogo no aplicativo, opção "Minhas Consultas". </p>
<p>Para efetuar o cancelamento, por gentileza, acione a opção "Cancelar Consulta" na home do app. </p>
<p>Avalie o seu psicólogo após a consulta, assim você nos ajuda a melhorar o atendimento. </p>
<p>Psicólogo, pedimos a gentileza de disponibilizar ao paciente o link de uma plataforma de sua preferência para a
  realização da consulta  e formalize um invite.</p>
<p>Boa consulta!</p>
