<h2 style="text-align: center;">Olá! Sua consulta conforme os dados abaixo:</h2><br>
<p><b>Data/hora: </b>{{date}}</p>
<p><b>Emails</b></p>
<ul>
  <li>Email do voluntário: {{email_volunteer}}</li>
  <li>Email do profissional da saúde: {{email_health}}</li>
</ul>
<br>
<p>Teve o status alterado para: <b>{{status}}</b>.</p>