<h2 style="text-align: center;">Olá {{volunteer_name}}!</h2>
  <h3 style="text-align: center; color: #84afd3;">Bem vindo(a) ao <b>ampara</b>!</h3>
  <p>Para ativar sua conta, por favor verifique seu email clicando no botão abaixo</p><br>
  <a href=`{{link_verify}}` style="padding: 10px 20px; background: #D14646; border-radius: 4px; text-decoration: none; color: #FFF;">
    Verificar E-mail
  </a><br><br>
  <p>Ou copiando este link e colando no seu navegador</p>
  <a href=`{{link_verify}}`>{{link_verify}}</a>